<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pc_maintainance_shop_Management.Properties.Settings.PCMMSConnectionString"
            connectionString="Data Source=ALEE\SQLEXPRESS;Initial Catalog=PCMMS;User ID=aaa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>